<div>
    <div  ng-controller="SongSearchCtrl" >
        <div>
            <h2>Player</h2>
                <p><audio ng-src="{{'music_down/' + activeSong.value}}" type="audio/mpeg" controls></audio></p>
                <button class="btn btn-xs btn-default" ng-click="prevSong()">Prev</button><button class="btn btn-xs btn-default" ng-click="nextSong()">Next</button>
                <p class="text-muted"><b>Song being played:</b> {{activeSong.key}}</p>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h2>Search Songs</h2>
                    <form novalidate> 
                        <input type="text" class="form-control" placeholder="Song" autofocus ng-model="description.Song" /><br />
                        <input type="text" class="form-control" placeholder="Album" ng-model="description.Album" /><br />
                        <input type="text" class="form-control" placeholder="Artist" autofocus  ng-model="description.Artist" /><br />
                        <button class="btn btn-primary" ng-click="search(description)">Search</button>
                    </form>

            </div>

            <div class="col-xs-4 col-sm-4 col-md-4" ng-switch="playListBool">
                <div ng-switch-when="false"></div>
                <div  ng-switch-default>
                    <h2>Playlists</h2>
                        <ul>
                            <li ng-repeat="aList in loadedLists">
                            <p>{{aList[1]}} <button class="btn btn-xs btn-default" ng-click="loadList(aList)">Load</button> <button class="btn btn-xs btn-default" ng-click="dropList(aList)">Drop</button></p>
                            </li>
                        </ul>
                </div>

                <div ng-show="logged.show">
                        <h2>Upload list</h2>
                            <form novalidate> 
                                <input id="fileInput" class="btn btn-xs btn-default" type="file" ng-model="file" /><br />
                            </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6" ng-switch="songSelection">
                <div ng-switch-when="false"></div>
                <div ng-switch-default>
                    <h2>Song Selection</h2>
                        <ul>
                        <li novalidate ng-repeat="aSong in songs track by $$index">
                            <!--<div class="row">-->
                                {{aSong.key}}<button class="btn btn-xs btn-default" ng-click="addSong(aSong)">Add</button>
                            <!--</div>-->
                        </li>
                        </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" ng-switch="songNumber">
                <div ng-switch-when="0"></div>
                <div ng-switch-default>
                    <h2>Song List</h2>

                        <ul>
                            <!--<button ng-click="getLists()">load Playlists</button>-->
                            <li ng-repeat="aSong in songsList track by $$index">
                                {{aSong.key}}</br><button class="btn btn-xs btn-default" ng-click="moveUp(aSong)">Move Up</button> <button class="btn btn-xs btn-default" ng-click="moveDown(aSong)">Move Down</button> <button class="btn btn-xs btn-default" ng-click="remSong(aSong)">Remove</button>
                            </li>
                        </ul>
                        <div ng-switch on="logged.show">
                            <div ng-switch-when="true">
                            <button class="btn btn-primary" ng-click="saveList()">Save Playlist</button> <button class="btn btn-primary" ng-click="clearList()">Clear Playlist</button>
                            </div>
                            <div ng-switch-default>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
